.poll-results-container {
  height: 100%;
  width: 100%;
  .result-section {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    .side-nav {
      width: 20%;
      .polls {
        list-style: none;
        padding: 5%;
        cursor: pointer;
        .poll {
          border-bottom: 1px solid;
          padding: 20px;
        }
        .selected-poll {
          background-color: rgb(187, 239, 173);
        }
      }
    }
    .results {
      width: 70%;
      height: 80%;
      padding: 2%;
      height: 90%;
      overflow: scroll;
      .mat-progress-bar {
        width: 70%;
      }
      .width-aligmnent {
        display: flex;
        align-items: center;
        margin-right: 2%;
        .option {
          width: 20%;
        }
      }
    }
    .action-button {
      height: 5%;
      width: 100%;
      text-align: center;
    }

    .count {
      margin-left: 1%;
      font-weight: bold;
      color: navy;
    }
  }
}
